.admin {
    font-size: 30px;
    font-weight: 600;
}

/* .delete {
    text-align: center;
    background-color: gray !important;
    color: black;
    padding: 10px !important;
    font-size: 10px;
} */

.deletebox {
    background-color: white !important;
    color: black !important;
}

.box {
    background-color: white !important;
    color: black !important;
}

.box h3, input, button, form {
    background-color: white !important;
    color: black !important;
    margin: 20px;
}

.delete {
    background-color: black !important;
    color: white !important;
    padding: 7px;
    border: 0;
    width: 90px;
    border-radius: 10px;
}

.box input {
    width: 200px;
    color: black !important;
}